### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [120]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
PD_df = pd.DataFrame(purchase_data)
PD_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [121]:
# Find total players and make a DataFrame display
Pcount = len(pd.unique(PD_df["SN"]))
# len(Pcount)
Numdf = pd.DataFrame({"Total Players": [Pcount]})
Numdf.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [122]:
# Assign variables for use in the dataframe
Uitem = len(pd.unique(PD_df["Item Name"]))
avg_p = (PD_df["Price"].mean())
numpur = len(PD_df["Purchase ID"].value_counts())
totalp = float(PD_df["Price"].sum())

# Load values into Dataframe and display
panalysis = pd.DataFrame({"Number of Unique Items": [Uitem], "Average Price":[avg_p], "Number of Purchases": [numpur], "Total Revenue": [totalp]})
panalysis.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [123]:
# group using gender as key
gender = PD_df.groupby("Gender")
# Count names by gender
countgender = gender.nunique()["SN"]
#formula for percentages
percentG = round((countgender/Pcount)*100).astype(str) + '%'
# create gender dataframe 
gender_df = pd.DataFrame({"Total Count": countgender,"Percentage of Players": percentG})
gender_df.index.name = None
gender_df

                       Total Count Percentage of Players
Female                          81                 14.0%
Male                           484                 84.0%
Other / Non-Disclosed           11                  2.0%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [135]:
# formulate variables by gender
Pcount = round(gender["Price"].count(), 0)
Aprice = round(gender["Price"].mean(), 2)
Tprice = round(gender["Price"].sum(), 2) 
AvgbyG = round(Tprice/countgender, 2)

# input variables into DataFrame, transpose and print
df = pd.DataFrame([Pcount, Aprice, Tprice, AvgbyG])
df1 = df.T
df1.columns = ["Purchase Count", "Average Purchase Price", 
               "Total Purchase Value", 'Avg Total Purchase per Person']
df1

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113.0,3.20,361.94,4.47
Male,652.0,3.02,1967.64,4.07
Other / Non-Disclosed,15.0,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [136]:
# create bins and associated labels
bins = (0, 9, 14, 19, 24, 29, 34, 39, 200)
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
# categorize players into bins and remove duplicate screen names
agedf = PD_df
agedf['Total Count'] = pd.cut(agedf["Age"], bins, labels=labels)
dfage = PD_df[['Total Count','SN']].drop_duplicates(subset = 'SN')
agedf
# group by bins find percentages
agesum = dfage.groupby('Total Count').count()
Acount = agesum['SN']
Pcount = len(pd.unique(PD_df["SN"]))
Percage = round(Acount / Pcount * 100, 2).astype(str) + '%'
# transpose and print dataframe
df1 = pd.DataFrame([Acount, Percage])
df2 = df1.T
df2.columns = ['Total Number', 'Percentage of Players']
df3 = df2.rename_axis('Age Range', axis='columns')
# df3.drop('Total Count', axis=0)
df3

Age Range   Total Number Percentage of Players
Total Count
<10                   17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
40+                   12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [137]:
# create bins and associated labels
bins = (0, 9, 14, 19, 24, 29, 34, 39, 200)
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
# create dataFrame for grouping
PD_df['Total Count'] = pd.cut(PD_df["Age"], bins, labels=labels)
rows = PD_df[['Total Count','SN', 'Price']]
rowsG = rows.groupby('Total Count')

# calculate variables
Pcount2 = rowsG['Price'].count
tpv = round(rowsG['Price'].sum(), 2).astype(str) + '$'
avgP = round(rowsG['Price'].mean(), 2).astype(str) + '$'
Spendper = round(tpv/Acount, 2).astype(str) + '$'
# Transpose and print
df4 = [Pcount2, avgP, tpv, Spendper]
df4 = df4.T
df4.columns = ['Purchase Count', 'Average Purchase Price', 
               'Total Purchase Value', 'Avg Total Purchase per Person']

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [129]:
spend_df = PD_df.groupby('SN')
avgprice = round(spend_df['Price'].mean(), 2)
count = spend_df['SN'].count()
tpv2 = round(spend_df('Price').sum(), 2)

topdf= pd.dataframe([count, avgprice, tpv2])
topdf

TypeError: 'DataFrameGroupBy' object is not callable

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80